@import url("https://fonts.googleapis.com/css?family=Muli");
* {
  box-sizing: border-box;
}

/* zeroing */
html {
  overflow-x: hidden;
}

body {
  background-color: steelblue;
  color: #fff;
  font-family: "Muli", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 40px;
  border-radius: 5px;
}
.container h1 {
  text-align: center;
  margin: 0 0 30px 0;
}
.container a {
  text-decoration: none;
  color: lightblue;
}
.container .form-control {
  position: relative;
  margin: 20px 0 40px;
  width: 300px;
}
.container .form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #fff;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #fff;
}
.container .form-control input:focus {
  outline: 0;
  border-bottom-color: lightblue;
}
.container .form-control input:valid {
  outline: 0;
  border-bottom-color: lightblue;
}
.container .form-control label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}
.container .form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.container .form-control input:focus + label span,
.container .form-control input:valid + label span {
  color: lightblue;
  transform: translateY(-30px);
}
.container .btn {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background: lightblue;
  padding: 15px;
  font-family: inherit;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
}
.container .btn:focus {
  outline: 0;
}
.container .btn:active {
  transform: scale(0.98);
}
.container .text {
  margin: 30px 0 0 0;
}

@media (max-width: 475px) {
  .container {
    padding: 30px;
  }
  .container .form-control {
    width: auto;
  }
}