.persons {
    margin: 50px 0 0 0;
    width: 250px;
    &__block {
        position: relative;
        margin: 0 0 16px 0;
        &:nth-child(2) {
            &::before {
                content: "";
                position: absolute;
                bottom: 14px;
                left: -15px;
                width: 10px;
                height: 10px;
                background-color: white;
                z-index: 2;
            }
        }
        &:nth-child(1) {
            &::before {
                content: "";
                position: absolute;
                bottom: 21px;
                left: -23px;
                width: 13px;
                height: 2px;
                background-color: #b1b1b1;
                z-index: 2;
            }
        }
    }
}
.persons-block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    &__item {
    }
}
.block-item {
    &__person {
        font-size: 14px;
        font-weight: 600;
        width: 90px;
        color: #555555;
    }

    &__percents {
    }

    &__percent {
        font-size: 14px;
        font-weight: 600;
        margin: 0 0 5px 0;
        color: #555555;
    }

    &__counts {
        display: flex;
        justify-content: flex-end;
        gap: 3px;
    }

    &__count {
        margin: 1px 0 0 0;
        font-size: 12px;
        color: #9d9d9c;
    }

    &__progress {
        position: relative;
        padding: 0 5px;
        width: 88px;
        height: 33px;
        border: 2px solid #ececec;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        border-radius: 5px;
        font-size: 12px;
        color: #555555;
        &.green {
            &::before {
                content: "";
                position: absolute;
                top: -2px;
                left: -2px;
                width: 0px;
                height: 26px;
                background-color: #70a74b;
                border-radius: 5px 0 0 0;
                animation: animateGreenProgress 1s linear forwards;
            }
            &::after {
                content: "";
                position: absolute;
                bottom: -2px;
                left: -2px;
                width: 0px;
                height: 7px;
                background-color: #b5d0a2;
                border-radius: 0 0 0 5px;
                animation: animateGreenProgress2 1s linear forwards;
            }
        }
        &.yellow {
            &::before {
                content: "";
                position: absolute;
                top: -2px;
                left: -2px;
                width: 0px;
                height: 26px;
                background-color: #fbd229;
                border-radius: 5px 0 0 0;
                animation: animateYellowProgress 1s linear forwards;
            }
            &::after {
                content: "";
                position: absolute;
                bottom: -2px;
                left: -2px;
                width: 0px;
                height: 7px;
                background-color: #fae691;
                border-radius: 0 0 0 5px;
                animation: animateYellowProgress2 1s linear forwards;
            }
        }
        &.red {
            &::before {
                content: "";
                position: absolute;
                top: -2px;
                left: -2px;
                width: 0px;
                height: 26px;
                background-color: #ed5243;
                border-radius: 5px 0 0 0;
                animation: animateRedProgress 1s linear forwards;
            }
            &::after {
                content: "";
                position: absolute;
                bottom: -2px;
                left: -2px;
                width: 0px;
                height: 7px;
                background-color: #f3a69e;
                border-radius: 0 0 0 5px;
                animation: animateRedProgress2 1s linear forwards;
            }
        }
    }
}

.borders {
    position: absolute;
    width: 20px;
    height: 240px;
    border-top: 2px solid #b1b1b1;
    border-left: 2px solid #b1b1b1;
    border-bottom: 2px solid #b1b1b1;
    border-radius: 5px 0 0 5px;
    top: 175px;
    left: -5px;
}

.plus {
    position: absolute;
    top: -23px;
    left: -30px;
    padding: 7px 0 2px 0;
    background: white;
    z-index: 2;
}

@keyframes animateGreenProgress {
    100% {
        width: 31px;
    }
}
@keyframes animateGreenProgress2 {
    100% {
        width: 29px;
    }
}

@keyframes animateYellowProgress {
    100% {
        width: 32px;
    }
}

@keyframes animateYellowProgress2 {
    100% {
        width: 28px;
    }
}

@keyframes animateRedProgress {
    100% {
        width: 26px;
    }
}

@keyframes animateRedProgress2 {
    100% {
        width: 31px;
    }
}
