.third {
    margin: 30px 0 0 0;
    &__description {
        margin: 10px 0 30px 0;
        font-family: "Open Sans";
        font-style: italic;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: #323232;
        @media (max-width: 360px) {
            font-size: 12px;
            line-height: 16px;
            margin: 10px 0;
        }
    }

    &__text {
        margin: 10px 0 0 0;
        font-family: "Georgia";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #323232;
        span {
            font-weight: 700;
            color: #096ffa;
        }
        @media (max-width: 360px) {
            font-size: 16px;
            line-height: 24px;
        }
    }
}
.picture {
}
